<section class="scientist_attributes">
  <h1>Name: <%= @scientist.name %></h1>
  <h1>Speciality: <%= @scientist.specialty %></h1>
  <h1>University: <%= @scientist.university %></h1>
  <h1>Lab: <%= @lab %></h1>
</section>

<section class="scientist_experiments">
  <h1>List of Experiments:</h1>
  <ol>
    <% @scientist.experiments.each do |experiment| %>
      <li><%= experiment.name %></li>
      <form action="/scientists/<%= @scientist.id %>/experiments/<%= experiment.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Remove">
      </form>    
  <% end %>
  </ol>
</section>