<h1><%= @scientist.name %>'s Page</h1>

<div class="sci-details">
  <p>Name: <%= @scientist.name %></p>
  <p>Specialty: <%= @scientist.specialty %></p>
  <p>Graduated from: <%= @scientist.university %></p>
  <p>Current Laboratory: <%= @scientist.lab.name %></p>
  <p>Current Experiments: </p>
  <div class="current-experis">
  <ul>
    <% @scientist.experiments.each do |experiment| %>
      <div id=<%= experiment.id %>>
        <li>
          <%= experiment.name %> 
          <%= form_with url: "/experiment_scientists/#{experiment.id}", method: :delete do |form| %>
            <%= form.hidden_field :scientist_id, value: @scientist.id %>
            <%= form.submit "Remove" %>
          <% end %>
        </li>
      </div><br>
    <% end %>
  </ul>
  </div>
</div>