<h2><%= @scientist.name %></h2>
<p>Specialty: <%= @scientist.specialty %></p>
<p>University: <%= @scientist.university %></p>
<p>Currently working at: <%= @scientist.lab.name %></p>
<h3>Active Experiments:</h3>

<% @scientist.experiments.each do |experiment| %>
  <div id="exp-<%= experiment.id %>">
  <p><%= experiment.name %>
    <%= button_to "Remove", "/scientists/#{@scientist.id}/experiments/#{experiment.id}", method: :delete, data: {turbo: false}  %>
  </p>
  </div>
<% end %>


