<h1> <%= @scientist.name %> </h1>
<h2> <%= @scientist.specialty%> at <%= @scientist.lab.name%> </h2>
<%= @scientist.university%>

<% @scientist.experiments.each do |experiment| %>
  <%= experiment.name %> </br>

  <%= form_with url: "/experiments/#{experiment.id}/", method: :delete, data: { turbo: false} do |f| %>

    <%= f.hidden_field :scientist_id, :value=>"#{@scientist.id}" %>
    <%= f.submit "Delete #{experiment.name}" %>
  <% end %>

  <% end %>