<h1><%= @scientist.name %></h1>
<p>Specialty:<%= @scientist.specialty %></p>
<p>University:<%= @scientist.university %></p>
<p>Lab:<%= @scientist.lab.name %></p>

<h2>Experiments:</h2>
<ul>
  <% @scientist.experiments.each do |experiment| %>
  <section id= "experiment-<%= experiment.id %>">
    <li>
      <%= experiment.name %>
      <%= form_with url: "/scientist_experiments/#{experiment.id}", method: :delete do |form| %>
            <%= form.hidden_field :scientist_id, value: @scientist.id %>
            <%= form.submit "Delete Experiment" %>
          <% end %>
    </li>
  <% end %>
</ul>