<h1><%= @scientist.name %>

<p>Speciality: <%= @scientist.specialty %></p>
<p>University: <%= @scientist.university %></p>

<p>Lab: <%= @scientist.lab.name %></p>

<h2>experiments this scientist is running:</h2>

<% @scientist.experiments.each do |experiment| %>
<section id="experiment-<%= experiment.id %>">
  <p><%= experiment.name %></p>
  <%= button_to "Delete Experiment", "/scientists/#{@scientist.id}/experiments/#{experiment.id}", method: :delete, data: {turbo: false}  %>
</section>
<% end %>