<h1><%= @scientist.name %></h1>
<h2><%= @scientist.specialty %></h2>
<h3><%= @scientist.university %></h3>
<h3><%= @scientist.lab.name %></h3>

<p id='experiments_names'> Experiments: </p>
<% @scientist.experiments.each do |experiment| %>
  <li><%= "#{experiment.name}" %></p>
  <%= link_to "Remove #{experiment.name}?", "/scientist_experiments/#{@scientist.id}?exp_id=#{experiment.id}", method: :delete %>
<% end %>